.App {
  margin: 30px auto;
  width: 80%;
  background-color: #FEFFFF
  
  }
  .header-app{
  display: flex;
  justify-content: space-around;
  
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: left;
  
    
  }
  hr{
    margin: 0;
    padding: 0; 
  }
  .childApp{
  margin: 0px auto;
  
  display: flex;
  }
  .left{
  flex: 1;
    display: flex;
  
  }
  
  .right{
   flex: 1;
   position: relative;
  }